@model IEnumerable<TestRanking.Data.TblHorarios>

@{
    ViewData["Title"] = "Index";
}

    <div class="card">
        <div class="card-header">
            Control de Tiendas
        </div>
        <div class="card-body">
            <h5 class="card-title">Listado Horarios</h5>

            <p>
                <a asp-action="Create" class="btn btn-primary">Nuevo Horario</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.HoraApertura)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.HoraCierre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Dias)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IdTiendaNavigation.NombreTienda)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.HoraApertura)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HoraCierre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Dias)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdTiendaNavigation.NombreTienda)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.IdHorario" class="btn btn-warning">Editar</a> |
                                <a asp-action="Details" asp-route-id="@item.IdHorario" class="btn btn-info">Detalles</a> |
                                <a asp-action="Delete" asp-route-id="@item.IdHorario" class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
     </div>