@model IEnumerable<TestRanking.Data.TblTiendas>

@{
    ViewData["Title"] = "Index";
}


<div class="card">
    <div class="card-header">
        Control de Tiendas
    </div>
    <div class="card-body">
        <h5 class="card-title">Listado Tienda</h5>

        <p>
            <a asp-action="Create" class="btn btn-primary">Nueva Tienda</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NombreTienda)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Logo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Imagen)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NombreTienda)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td>
                            <img src="@item.Logo" alt="Logo" style="width:30px" />
                        </td>
                        <td>
                            <img src="@item.Imagen" alt="Imagen" style="width:30px" />
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.IdTienda" class="btn btn-warning">Editar</a> |
                            <a asp-action="Details" asp-route-id="@item.IdTienda" class="btn btn-info">Detalles</a> |
                            <a asp-action="Delete" asp-route-id="@item.IdTienda" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
</div>